<div class="appointment-scheduler">
  <h1 class="header">Appointment Scheduler</h1>
</div>

<div class="appoint-form">

  <p class="joke-header">Note, don't look at other patients names! That's a HIPAA violation!</p>
  <%= render partial: "schedule_form" %>
</div>
